/*
Theme Name: wahsite
Theme URI: http://wah.ph
Author: the WordPress team
Author URI: http://wordpress.org/
Description: Theme from WAH Website Designer
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wahtheme
*/


.tryslider {
overflow: hidden;
background-image: url(loadingblue.gif);
background-repeat: no-repeat;
background-position: center;
}

.shadowslider {
background-image: url(slidershadow.png);
background-repeat: no-repeat;
background-position: top;
margin: -120px auto;
}

.tryslider img {
width: 100%;
height: 350px;
display: none;
}
 
.banner{
background-image: url(banner.jpg);
height: 125px;
position: center;
background-repeat: no-repeat;
margin-top: 10px;
}

.text{
text-align: center;

}
.navbar-custom {
    background-color:#0080ff;
    color:black;
    border-radius:0;
    border-width: 0px;
    width: 100%;
    
}

.navbar-custom .navbar-nav > li > a {
    color: #660066;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 3px;
    display: inline-block;
	float:none;
   
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #00e6e6;
    background-color:transparent;

}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 400px;
  }
  h3, .color{
  	color: #fff;
  	font-size: 250%;
    background-color: #0066ff;
	display: inline-block;
	position: relative;
	padding-bottom:8px;
	height: 100%;
	width:50%;
	opacity: .8;
	text-shadow: 2px 5px #4d4d4d;
	font-family: Helvetica;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	border-radius:5px;
	}
.textslider{
	color: #000;
  	font-size: 20px;
	font-family: "Times New Roman", Georgia, Serif;
	border-radius:5px;
}

.textblock{
	background-color: #ffffff;
	display: inline-block;
	position: relative;
	height: 100%;
	width:100%;
	opacity: .7;
}

.buttonlocation{
	position: fixed;
    bottom: 10px;
    right: 100px;

}
.submenucolor{
	background-color: red;
}
.glyphicon {
margin-right: 4px !important; /*override*/
}
.pagination .glyphicon {
margin-right: 0px !important; /*override*/
}
.pagination a {
color: #555;
}
.panel ul {
padding: 0px;
margin: 0px;
list-style: none;
}
.news-item {
padding: 4px 4px;
margin: 0px;
border-bottom: 1.5px solid #4d0066;
}

.sizenews{
	height: 500px;
	color: #007acc;

}
.sizenews1{
	height: 100%;
	margin-top: 20px;
}

.block3{
	background-color: pink;
	border-width: 2px

}


////////////////////////////////////////

-footer-

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #000;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #000;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #000;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #000;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
background-image: 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.facebook{
	background-image: url(facebook.png);
}