/*
Theme Name: wahsite
Theme URI: http://wah.ph
Author: the WordPress team
Author URI: http://wordpress.org/
Description: Theme from WAH Website Designer
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wahtheme
*/
}

.tryslider {
overflow: hidden;
background-image: url(loadingblue.gif);
background-repeat: no-repeat;
background-position: center;

}
.shadowslider {
background-image: url(slidershadow.png);
background-repeat: no-repeat;
background-position: top;
margin: -120px auto;

}
.tryslider img {
width: 100%;
height: 350px;
display: none;

}

